{{define "body"}}
<div class="center-content">
	<p>Hello, I'm <a href="https://ebinbellini.top">Ebin Bellini</a> and these are my games.</p>
</div>

<div style="margin-top: 32px"></div>

<div class="card">
	<img src="/knaker/face of knaker.svg">
	<div class="card-name">Knåker Online</div>
	<p>
		An online version of the card game <a href="https://ebinbellini.top/works/knaker/">Knåker</a>.
		<div style="margin: -12px 0;"></div>
		<a class="button" href="/play/knaker">Play now!</a>
		<a class="button gray" href="/knaker/">Read more!</a>
	</p>
</div>

<div class="card">
	<img src="/basket/basket.svg">
	<div class="card-name">Mechanical Basketball</div>
	<p>
		Upcoming game (Not very soon)
	</p>
</div>
{{end}}