{{define "layout"}}
<!DOCTYPE html>

<html lang="en-US">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Ebin Bellini Games" />
	<meta name="author" content="Ebin Bellini Games - ebinbellini@airmail.cc" />
	<link rel="canonical" href="https://ebinbellini.com" />

	<link rel="icon" type="image/ico" sizes="100x100" href="/favicon.ico">

	<title>Ebin Games</title>

	<link href="/main.css" rel="stylesheet" />
	<link href="/nimbus-roman.css" rel="stylesheet" />
</head>

<body>
    <div class="center-content">
		<a href="/">
			<img src="/console.png" style="width: 150px; margin-bottom: -20px;">
			<h1>Ebin Bellini</h1>
			<h2>Games</h2>
		</a>
		<br>
	</div>

	<div style="margin-top: 32px"></div>

	{{template "body"}}
</body>

</html>

{{end}}