{{define "body"}}
<link href="knaker.css" rel="stylesheet" />

<div class="center-content">
    <img src="face of knaker.svg">
    <h3>Knåker Online</h3>

    <a class="button" href="/play/knaker/">Try now!</a>

    <div style="margin-top: 32px"></div>

    <h4>Play with up to 5 friends across the globe!</h4>
    <div class="card">
        <img src="gameplay.png">
    </div>

    <div style="margin-top: 64px"></div>

    <h4>Available in 3 languages</h4>
    <div style="margin-top: 16px"></div>
    <img src="languages.svg">
    <br>
    <p>
        The game can be played in English, Swedish and Japanese, although the <a href="https://ebinbellini.com/knaker/basregler.pdf">rules </a>are only available in Swedish...
    </p>

    <div style="margin-top: 32px"></div>
    <h4>Play on many platforms</h4>
    <img src="devices.svg" style="max-width: 400px">
</div>
{{end}}